<html>
<head>
<title>ST</title>
</head>
<body>
	<h1 align="center">STore</h1>
	<h4><a href="daftar.html">Daftar</a>   <a href="beranda.html">Beranda</a>   <a href="elektronik.html">Elektronik</a>   <a href="makanan.html">Makanan</a>   <a href="kesehatan.html">Kesehatan</a></h4>
<hr><br>
<h3><p align="center">Elektronik</p></h3>
	<p><li>Bluelans 3.5mm Earphone</li><img src="earphone.jpg" width="100"><p>Harga : Rp 71.781</p></p>
	<p><li>Mouse Logitech B100</li><img src="mouse.jpg" width="100"><p>Harga : Rp 81.000</p></p>
</body>
</html>