<html>
<head>
<title>ST</title>
</head>
<body>
	<h1 align="center">STore</h1>
	<h4><a href="daftar.html">Daftar</a>   <a href="beranda.html">Beranda</a>   <a href="elektronik.html">Elektronik</a>   <a href="makanan.html">Makanan</a>   <a href="kesehatan.html">Kesehatan</a></h4>
<hr><br>
<h3><p align="center">Kesehatan</p></h3>
	<p><li>Polysilane</li><img src="polysilane.jpg" width="100"><p>Harga : Rp 3.000</p></p>
	<p><li>Dexamethasone</li><img src="dexa.jpeg" width="100"><p>Harga : Rp 3.000</p></p>
	<p><li>Siladex Batuk Berdahak</li><img src="siladex.jpg" width="100"><p>Harga : Rp 3.000</p></p>
</body>
</html>