<html>
<head>
<title>ST</title>
</head>
<body>
	<h1 align="center">STore</h1>
	<h4><a href="daftar.html">Daftar</a>   <a href="beranda.html">Beranda</a>   <a href="elektronik.html">Elektronik</a>   <a href="makanan.html">Makanan</a>   <a href="kesehatan.html">Kesehatan</a></h4>
<hr><br>
<h3><p align="center">Makanan</p></h3>
	<p><li>Nasi Goreng</li><img src="nasgor.jpg" width="100"><p>Harga : Rp 10.000</p></p>
	<p><li>Ayam Geprek</li><img src="geprek.jpg" width="100"><p>Harga : Rp 15.000</p></p>
	<p><li>Sate Kambing</li><img src="sate.jpg" width="100"><p>Harga : Rp 20.000</p></p>
</body>
</html>